{% extends 'base.html.twig' %}

{% block title %}Passager{% endblock %}

{% block body %}
    <h1>Nouvel Passager</h1>

    {{ include('passager/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('passager_index') }}">back to list</a>

    {{ include('passager/_delete_form.html.twig') }}
{% endblock %}
